<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <% if (!pdf) { %>
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/final.css" />
    <% } %>
    <title>WaS 2020 Klassen Klassen Liste</title>
</head>

<body>
<div class="container" id="mainContainer">
    <h2><%= className %> - Endgültige Beträge</h2>
    <hr class="style-one" />

    <% walker.forEach(function(w) { %>
        <div class="studen_container g">
            <div class="row name_row g">
                <div class="name col-xs-8 g">
                    <%= w.getName() %> 
                    <% if (w.participates == 0) { %>
                        <span class="missing">Nicht teilgenommen</span>
                    <% } else if (w.participates == 2) { %>
                        <span class="one-meter"><span>Krank/Helfer</span></span>
                    <% } else { %>
                        <span class="km g">(<%= w.distance_m %> m)</span>
                    <% } %>
                </div>
                <div class="g money col-xs-2 sum <% if (w.sum != w.minsum ) { %> more <% } %>"><%= w.sum.toFixed(2) %> €
                    <span class="g money sum-dash">/</span>
                </div>
                <div class="g money col-xs-2 min-sum"><%= w.minsum.toFixed(2) %> €</div>
            </div>
            <% w.donations.forEach(function(d) {%>
            <div class="row spender_row g">
                <% if (pdf) { %>
                <span class="chevron col-xs-1">&triangleright;</span>
                <% } else { %>
                <span class="col-xs-1 glyphicon glyphicon-chevron-right col-xs-1" aria-hidden="true"></span>
                <% } %>
                <span class="col-xs-7 spender_name g">
                    <%= d.getName() %> (<%= d.donation_each_km.toFixed(2) %> €)
                </span>
                <div class="spender_money g col-xs-2 sum <% if (d.sum != d.minsum ) { %> more <% } %>"><%= d.sum.toFixed(2) %> €
                    <span class="spender_money g sum-dash">/</span>
                </div>
                <div class="spender_money g col-xs-2 min-sum"><%= d.minsum.toFixed(2) %> €</div>
            </div>
            <% }); %>
        </div>
        <hr class="style-three g" />
    <% }); %>

    <div class="studen_container g">
        <div class="summe col-xs-6 g"> Summe </div>
        <div class="summe-number col-xs-6"> <%= sum.toFixed(2) %> € / <%= minsum.toFixed(2) %> €</div>
    </div>

</div>
<!--script type="text/javascript" src="/static/end_list.js"></script-->
</body>
</html>
